# --- Core DL stack --------------------------------------------------
torch==2.6.0
-f https://download.pytorch.org/whl/torch_stable.html
torch_optimizer==0.3.0

# --- Scientific / data ---------------------------------------------
numpy==1.23.5
h5py>=3.10
uproot>=5.3
awkward>=2.5
awkward-pandas==2023.8.0
scikit-learn>=1.4

# --- Utility --------------------------------------------------------
tqdm>=4.66
requests>=2.31

matplotlib>=3.9
seaborn>=0.13
